body {
  font-family: "Lato", sans-serif;
  padding-bottom: 100px;
}

h2{
  <!-- color:#19A7CE; -->
}



.title{
    text-align: center;
    font-size:3rem;
        color:#FFFFFF;
}

.links{
  text-align: center;
}

.links-text{
  display:inline-block;
  text-align:left;
  line-height: 0px;   /* within paragraph */
  margin-bottom: 0px; /* between paragraphs */
}


.img-format{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}



.subtitle-1{
    font-style:italic;
    margin: 20px auto;
    text-align: center;
    font-size:1.2rem;
    color:#FFFFFF;
}

.subtitle-2{
    margin: 30px auto;
    font-size:1.2rem;
    width:80%;
    text-align: center;
    color:#FFFFFF;
}

.profile-pic{
    text-align: center;

}


.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #03506F;*/
  background-color: #222222;
  /*background-color: #000000;*/
  /* Same as the width of the sidenav */
  overflow-x: hidden;
  padding-top: 5px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  color:#000000;
}

.sidenav a:hover {color: #19A7CE;}
.sidenav, a:link, a:visited  {color: #FFFFFF;}

a.ref {color:#000000;}
a.ref:link {text-decoration: none; color: #000000;}
a.ref:visited {text-decoration: none; color: #000000;}
a.ref:hover {text-decoration: underline; color: #19A7CE;}
a.ref:active {text-decoration: none; color: #000000;}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.main-container{
    text-align: center;
    display:table;
    width:100%;
    box-sizing: border-box;
}

.col-main-container{
  display: table-cell;
  table-layout: fixed;
  word-wrap: break-word;
}


.Summary{
  text-align: center;
  display:table;
  width:100%;
  box-sizing: border-box;
}

.col-summary{
  display: table-cell;
  table-layout: fixed;
  word-wrap: break-word;

}

.intro{
  display:inline-block;
  text-align:justify;
  width:85%;
  margin-top:0;
}

.Skills{
  width:100%;
  float:left;
}

.subtitles{
  text-align: center;
  margin: 20px auto;
}

.education-inner{
  display:inline-block;
  text-align:left;
}

.education-inner-text{
  margin:0px auto 5px;
  font-size: 1.5rem;
}

.skills-text{
  margin:0px auto 5px;
  font-size: 1.5rem;
}

.summary-text{
  margin:0px auto 5px;
  font-size: 1.625rem;
}

.skills-inner{
  display:inline-block;
  text-align:left;
}

.bottom-container{
  width:100%;
}

.Resume-p{
  font-size: 20px;
  width:100%;
  text-align:left;
  margin: 0px auto 2px;
}


.Resume-h3{font-size:30px;
          text-align:left;
          margin:15px auto 0;
        }

.Resume-p-right{
  font-size: 20px;
  margin: 0px auto;
  float:right;
}
.Resume-p-left{
  font-size: 20px;
  margin: 0px auto;
  float:left;
}

hr{margin: 5px auto;}

ul {margin: 0 auto;
}

.container-info{
  display: flex;
  justify-content: space-between;
  width:80%;
}

.info-table{
  margin:0 auto;
}

.Resume-h1{
  margin-bottom: 0px;
}

p {margin:0 auto;}

.skills-icon{
   width: 25px;
   height:auto;
  float: left;
  padding-right:10px;
}
